body{
    background: #FFEEE6;
}

.logo{
    position: absolute;
    margin-top: 0px;

    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    font-size: 79px;

    background: linear-gradient(180deg, #E16F56 0%, rgba(208, 117, 51, 0.8924) 48.74%, rgba(255, 70, 30, 0.32) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.image{
    position: absolute;
    width: 900.71px;
    height: 680.5px;
    left: 1100px;
    top: 288px;
    border-radius: 20px;
}

.log-in{
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 60px;
    left: 1930px;
    top: 15px;
    background: rgba(225, 111, 86, 0.69);
    border: 1px solid #000000;
    border-radius: 20px;
    font-family: 'Libre Caslon Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
}

.log-in:hover{
    opacity: 90%;
    cursor: pointer;
}

.signup-grp{
    position: absolute;
    width: 629px;
    height: 745px;
    left: 270px;
    top: 220px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 23px;
}

.form-mainhead{
    position: absolute;
    width: 256px;
    height: 80px;
    text-align: center;
    left: 185px;
    font-family: 'Libre Caslon Display';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 80px;
    margin-top: 0%;

}

.form-minihead{
    position: absolute;
    width: 303px;
    height: 30px;
    text-align: center;
    left: 162px;
    font-family: 'Libre Caslon Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: rgba(225, 111, 86, 0.76);
    top: 50px;
}

input{
    position: absolute;
    width: 525px;
    height: 50px;
    left: 45px;    
    background: #f7d3c1;
    opacity: 0.7;
    border-radius: 15px;
    border: transparent;   
    padding-left: 15px; 
    margin-top: 10px;
}

::placeholder{
    font-size: 20px;
    font-family: 'Libre Caslon Display';
}

.btn{
    position: absolute;
    width: 185px;
    height: 58px;
    left: 200px;
    background: rgba(225, 111, 86, 0.69);
    border-radius: 20px;
    border: transparent;
    font-family: 'Libre Caslon Display';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
}

.btn:hover{
    opacity: 90%;
    cursor: pointer;
}

i{
    position: relative;
    left: 92%;
    margin-left: -30px;
    margin-top: 10px;
    cursor: pointer;
    color: black;
    opacity: 50%;
}

a{
    text-decoration: none;
    color: black;
}

.alert{
    width: 300px;
    height: 25px;
    border-radius: 20px;
    background-color: rgba(214, 52, 52, 0.731);
    opacity: 70%;
    padding: 10px 10px 10px 10px;
    margin-left: 145px;
    margin-top: 20;
    margin-bottom: 20px;
    text-align: center;
}

.passStrength{
    margin-left: 60px;
    margin-top: 20px;
}