.form {
  margin-top: 25vh;
  margin-left: 12vw;
  width: 30vw;
}

.form input {
  background: #f7d3c1;
}

.form-minihead {
  color: rgba(225, 111, 86, 0.76);
}

.sub-btn {
  background: rgba(225, 111, 86, 0.69);
  font-size: 1vw;
}

.sub-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

.far {
  color: rgba(153, 71, 53, 1);
}

.land-head {
  font-family: "Love Ya Like A Sister";
  font-size: 4.2vw;
  background: linear-gradient(
    180deg,
    #151515 0%,
    rgba(128, 97, 74, 0.89) 48.74%,
    rgba(255, 70, 30, 0.32) 100%,
    rgba(33, 22, 20, 0.29) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabs {
  width: 72vw;
  background: rgba(249, 249, 249, 0.4);
  font-size: 1.5vw;
}

.tab-text {
  width: 15vw;
  text-align: center;
}

.btn-tsk {
  background-color: rgba(225, 111, 86, 0.5);
}

.btn-tsk:hover {
  opacity: 0.8;
  cursor: pointer;
}

.tab-text:hover {
  color: rgba(225, 111, 86, 0.65);
  cursor: pointer;
}

.active {
  background: rgba(225, 111, 86, 0.75);
  border: solid black 0.5px;
  border-radius: 20px;
}

.active:hover {
  color: antiquewhite;
}

.tasks {
  width: 77vw;
  background: rgba(249, 249, 249, 0.4);
  font-size: 1.8vw;
}

.my-modal {
  background-color: #ffeee6;
}

.my-modal-btn {
  background-color: rgba(225, 111, 86, 0.5);
}

.task-details {
  font-size: 1vw;
  color: rgba(0, 0, 0, 0.29);
}

.dropdown {
  font-size: 1.3vw;
}

.card {
  background: rgba(249, 249, 249, 0.4);
}
